
  <canvas id="animatabledot"></canvas>
  
  <script src='/assets/js/TweenLite.min.js'></script>
  <script src='/assets/js/EasePack.min.js'></script>
  <script async src='/assets/js/animatabledot.js'></script>
