<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/linkedin.svg" /></span>
    <a href="//egit.page.link/in" title="Linkedin">Linkedin </a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/resume.svg" /></span>
    <a href="//egit.page.link/r" title="Resume">Resume</a>
  </li>

  <hr />
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/twitter.svg" /></span>
    <a href="//egit.page.link/tw" title="Twitter">Quick Mind </a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/wordpress.svg" /></span>
    <a href="//egit.page.link/blog" title="Wordpress">Long Note</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/dev.svg" /></span>
    <a href="//dev.to/egitsptr" title="Dev.to">Developer Blog</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/raindrop.png" /></span>
    <a href="//egit.page.link/rd" title="Raindrop.io">Product mark</a>&nbsp&nbsp|&nbsp&nbsp
    <a href="//egit.page.link/rdn" title="Raindrop.io">News mark </a>   
  </li>

  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images//instagram.png" /></span>
    <a href="//egit.page.link/ig" title="Instagram">Personal Images </a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-lg main-list-item-icon"><img src="/images/github.svg" /></span>
    <a href="https://github.com/esabook" title="Github">Source Code</a>
  </li>


  <br />
  {% include themeswitcher.html %}
</ul>
