<div class="theme-switch-wrapper">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox" title="Change Theme"/>
        <div class="slider round"></div>
    </label>

</div>


<script src='/assets/js/theme.js'></script>