---
---

$text-color: #46433a;
// $anchor-text-color: #CE534D;
// $background-color: #ececec;

:root {
  --background-color: #ececec;
  --text-color: #46433a;
  --anchor-text-color: #ce534d;
  --theme-toggle-image: url(/images/sun.svg);
  --theme-toggle-slider-box: #87ceeb;
}

[data-theme="dark"] {
  --background-color: #303132;
  --text-color: #cdc8b9;
  --anchor-text-color: #cdc8b9;
  --theme-toggle-image: url(/images/moon.svg);
  --theme-toggle-slider-box: #000000;
  $text-color: #cdc8b9;
}

html {
  background-color: var(--background-color) !important;
  transition: background-color 0.2s ease-in-out;
  overflow-x: hidden;
  scrollbar-width: none;
  scrollbar-color: transparent;
}

body {
  font-family: "Vollkorn", serif;
  color: var(--text-color);
}

::-webkit-scrollbar {
  display:none;
}

header,
main {
  padding: 0 20px;
}

/*** wrapper div for both header and main ***/
.wrapper {
  margin-top: 10%;
  position: absolute;
  left: 0;
  right: 0;
}

/*** anchor tags ***/
a:link,
a:visited,
a:hover,
a:active {
  color: var(--anchor-text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*** main content list ***/
.main-list-item {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.8em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* override the left margin added by font awesome for the main content list,
since it must be aligned with the content */
.fa-ul.main-list {
  margin-left: 0;
  list-style-type: none;
}

/* list icons */
.main-list-item-icon {
  width: 36px;
  color: var(--text-color);
}

.main-list-item-icon img {
  width: 26px;
  height: 26px;
}

/*** logo ***/
.logo-container {
  text-align: center;
}

.logo {
  width: 120px;
  height: 120px;
  display: inline-block;
  background-size: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  border: 2px solid var(--background-color);
  box-shadow: 0 0 0 3px var(--text-color);
}

/*** author ***/
.author-container h1 {
  font-size: 2.8em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

/*** tagline ***/
.tagline-container p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
}

/******/
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), $text-color, rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), $text-color, rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), $text-color, rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), $text-color, rgba(0, 0, 0, 0));
}

/*** footer ***/
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 20px;
}

.poweredby {
  font-family: "Arial Narrow", Arial;
  font-size: 0.6em;
  line-height: 0.6em;
  padding: 0 5px;
}

/*** media queries ***/
/* X-Small devices (phones, 480px and up) */
@media (min-width: 480px) {
  /* wrapper stays 480px wide past 480px wide and is kept centered */
  .wrapper {
    width: 480px;
    margin: 10% auto 0 auto;
  }
}

/* All other devices (768px and up) */
@media (min-width: 768px) {
  /* past 768px the layout is changed and the wrapper has a fixed width of 680px
	to accomodate both the header column and the content column */
  .wrapper {
    width: 739px;
  }

  /* the header column stays left and has a dynamic width with all contents
	aligned right */
  header {
    float: left;
    width: 46%;
    text-align: right;
  }

  .author-container h1,
  .logo-container,
  .tagline-container p {
    text-align: right;
  }

  main {
    width: 46%;
    margin-left: 54%;
    padding: 0;
  }
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  border-radius: 34px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--theme-toggle-slider-box);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-image: var(--theme-toggle-image);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  //   transition: 0.4s;
  transition: all 0.2s ease-in-out 0.1s;
  width: 26px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
